In [23]:
%matplotlib inline
import re
import itertools
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#from mpl_toolkits.basemap import Basemap
from matplotlib.colors import rgb2hex
from matplotlib.patches import Polygon
import matplotlib.ticker as ticker

In [13]:
ridership = pd.read_csv('CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals.csv')
stops = pd.read_csv('CTA_-_System_Information_-_List_of__L__Stops.csv')

In [14]:
ridership.shape

(879576, 5)

In [15]:
ridership.columns

Index(['station_id', 'stationname', 'date', 'daytype', 'rides'], dtype='object')

In [16]:
ridership[:5]

   station_id         stationname        date daytype  rides
0       40010  Austin-Forest Park  01/01/2001       U    290
1       40020         Harlem-Lake  01/01/2001       U    633
2       40030        Pulaski-Lake  01/01/2001       U    483
3       40040        Quincy/Wells  01/01/2001       U    374
4       40050               Davis  01/01/2001       U    804

In [17]:
stops[:5]

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30213,N,35-Bronzeville-IIT (Harlem-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"

In [18]:
stops.loc[stops['MAP_ID'] == 40830]

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"

In [19]:
ridership.loc[ridership['station_id'] == 40830]

        station_id stationname        date daytype  rides
79           40830        18th  01/01/2001       U      0
220          40830        18th  01/02/2001       W    813
361          40830        18th  01/03/2001       W    881
502          40830        18th  01/04/2001       W    884
643          40830        18th  01/05/2001       W    925
784          40830        18th  01/06/2001       A      2
925          40830        18th  01/07/2001       U      0
1066         40830        18th  01/08/2001       W    981
1207         40830        18th  01/09/2001       W    979
1348         40830        18th  01/10/2001       W    987
1489         40830        18th  01/11/2001       W   1011
1630         40830        18th  01/12/2001       W    991
1771         40830        18th  01/13/2001       A      9
1912         40830        18th  01/14/2001       U      0
2053         40830        18th  01/15/2001       W    691
2194         40830        18th  01/16/2001       W   1026
2335         40830        18th  01/17/2001       W   1065
2476         40830        18th  01/18/2001       W   1035
2617         40830        18th  01/19/2001       W    968
2758         40830        18th  01/20/2001       A      5
2899         40830        18th  01/21/2001       U      0
3040         40830        18th  01/22/2001       W    977
3181         40830        18th  01/23/2001       W    976
3322         40830        18th  01/24/2001       W   1048
3463         40830        18th  01/25/2001       W   1037
3604         40830        18th  01/26/2001       W    988
3745         40830        18th  01/27/2001       A      4
3886         40830        18th  01/28/2001       U      0
4027         40830        18th  01/29/2001       W    981
4168         40830        18th  01/30/2001       W   1009
...            ...         ...         ...     ...    ...
877566       40830        18th  11/01/2017       W   1958
877567       40830        18th  11/02/2017       W   2011
877568       40830        18th  11/03/2017       W   1947
877569       40830        18th  11/04/2017       A   1189
877570       40830        18th  11/05/2017       U    872
877571       40830        18th  11/06/2017       W   1838
877572       40830        18th  11/07/2017       W   1950
877573       40830        18th  11/08/2017       W   1989
877574       40830        18th  11/09/2017       W   1892
877575       40830        18th  11/10/2017       W   1817
877576       40830        18th  11/11/2017       A   1358
877577       40830        18th  11/12/2017       U    887
877578       40830        18th  11/13/2017       W   1721
877579       40830        18th  11/14/2017       W   1835
877580       40830        18th  11/15/2017       W   1867
877581       40830        18th  11/16/2017       W   1898
877582       40830        18th  11/17/2017       W   1897
877583       40830        18th  11/18/2017       A   1244
877584       40830        18th  11/19/2017       U    894
877585       40830        18th  11/20/2017       W   1778
877586       40830        18th  11/21/2017       W   1861
877587       40830        18th  11/22/2017       W   1650
877588       40830        18th  11/23/2017       U    637
877589       40830        18th  11/24/2017       W   1200
877590       40830        18th  11/25/2017       A   1145
877591       40830        18th  11/26/2017       U    823
877592       40830        18th  11/27/2017       W   1737
877593       40830        18th  11/28/2017       W   1868
877594       40830        18th  11/29/2017       W   1889
877595       40830        18th  11/30/2017       W   1938

[6179 rows x 5 columns]

In [22]:
#just want 2017 ridership
type(ridership.date[1])

str

In [27]:
#add a new column for year, then regex the year out of date columns
ridership["year"] = ""
ridership.year = ridership.date.str.extract(r'./+(\d{4})', expand=False)
ridership_17 = ridership['year'] == 2017

In [40]:
#aggregate stops by map_id, join with ridership on station_id?
#or get the shapefile for L trains, plot in python, match each station to the number of rides
#plot basic info i.e. ridership/station?

ridership['stationname'].groupby().count()