I realized that there were a few non-ascii characters in my file...

In [3]:
TRED2016PTAX203 = '/Users/amy/Code/chi-city/Delivery Files/Data Files/2016/TRED2016PTAX203.txt'
import csv

with open(TRED2016PTAX203,'rb') as f:
    contents = f.read()

for i in contents:
    if i > 128:
        print("non ascii")
        print(i)

non ascii
173
non ascii
173
non ascii
241
non ascii
241
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189

So I read them in with ascii encodings and ignored the errors (not sure if this is the best way)

In [16]:
import codecs
c = codecs.open(TRED2016PTAX203,'r', encoding='ascii',errors='ignore')

Then tried to read in as a pandas dataframe

In [17]:
import pandas as pd
df = pd.read_csv(c, header=None,dtype='object')
#old stuff I found on StackOverflow:
#import numpy as np
#import io
#df = pd.read_csv(io.BytesIO(contents),encoding='utf8',dtype={"switch": np.int8})

In [18]:
df[:10]

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,001,2016,201600002,01,04,,,21,518 SPRINGLAKE DRIVE,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0
1,001,2016,201600004,01,04,,,18,2019 N SHERIDAN DRIVE,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0
2,001,2016,201600007,01,04,,,20,5220 HOMAN FALLS DRIVE,QUINCY,...,N,...,62305,0,0,0,0,0,0,0
3,001,2016,201600009,01,04,,,2,316 N ILLINOIS STREET,CAMP POINT,...,N,...,62320,0,0,0,0,0,0,0
4,001,2016,201600013,01,04,,,37,830 MONROE,QUINCY,...,N,...,62301,1,5800,0,0,0,0,0
5,001,2016,201600043,01,05,,,33,105 WOODLAWN ROAD,QUINCY,...,N,...,00000,1,6000,0,0,0,0,0
6,001,2016,201600053,01,05,,,56,220 NORTH 27TH,QUINCY,...,N,...,62301,1,0,6000,0,0,0,0
7,001,2016,201600056,01,05,,,15,1310 HUGENBERG LANE,FOWLER,...,N,...,62338,0,0,0,0,0,0,0
8,001,2016,201600059,01,05,,,25,232 NORTH SIXTH STREET &,QUINCY,...,N,...,62301,0,0,0,0,0,0,0
9,001,2016,201600060,01,05,,,14,6819 COLUMBUS ROAD,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0

But then I began having issues importing tabula to get the column names

In [9]:
from tabula import read_pdf
pdf_to_csv_to_pandas = {'header':0, 'index_col':0}
PTAX203_layout_df = read_pdf(PTAX203Layout, pages='all', lattice=True, pandas_options=pdf_to_csv_to_pandas)

ModuleNotFoundError: No module named 'tabula'