This is an analysis of real estate transfer declaration data (PTAX)

First I need to clean my data:
I realized that there were a few non-ascii characters in my file...

In [2]:
TRED2016PTAX203 = '/Users/amy/Code/chi-city/Delivery Files/Data Files/2016/TRED2016PTAX203.txt'
import csv

with open(TRED2016PTAX203,'rb') as f:
    contents = f.read()

for i in contents:
    if i > 128:
        print("non ascii")
        print(i)

non ascii
173
non ascii
173
non ascii
241
non ascii
241
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189
non ascii
189

So I read them in with ascii encodings and ignored the errors (not sure if this is the best way)

In [3]:
import codecs
c = codecs.open(TRED2016PTAX203,'r', encoding='ascii',errors='ignore')

Then tried to read in as a pandas dataframe

In [4]:
import pandas as pd
df = pd.read_csv(c, header=None,dtype='object')
#old stuff I found on StackOverflow:
#import numpy as np
#import io
#df = pd.read_csv(io.BytesIO(contents),encoding='utf8',dtype={"switch": np.int8})

In [5]:
df[:10]

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,001,2016,201600002,01,04,,,21,518 SPRINGLAKE DRIVE,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0
1,001,2016,201600004,01,04,,,18,2019 N SHERIDAN DRIVE,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0
2,001,2016,201600007,01,04,,,20,5220 HOMAN FALLS DRIVE,QUINCY,...,N,...,62305,0,0,0,0,0,0,0
3,001,2016,201600009,01,04,,,2,316 N ILLINOIS STREET,CAMP POINT,...,N,...,62320,0,0,0,0,0,0,0
4,001,2016,201600013,01,04,,,37,830 MONROE,QUINCY,...,N,...,62301,1,5800,0,0,0,0,0
5,001,2016,201600043,01,05,,,33,105 WOODLAWN ROAD,QUINCY,...,N,...,00000,1,6000,0,0,0,0,0
6,001,2016,201600053,01,05,,,56,220 NORTH 27TH,QUINCY,...,N,...,62301,1,0,6000,0,0,0,0
7,001,2016,201600056,01,05,,,15,1310 HUGENBERG LANE,FOWLER,...,N,...,62338,0,0,0,0,0,0,0
8,001,2016,201600059,01,05,,,25,232 NORTH SIXTH STREET &,QUINCY,...,N,...,62301,0,0,0,0,0,0,0
9,001,2016,201600060,01,05,,,14,6819 COLUMBUS ROAD,QUINCY,...,N,...,62305,1,6000,0,0,0,0,0

But then I began having issues importing tabula to get the column names

In [9]:
from tabula import read_pdf
pdf_to_csv_to_pandas = {'header':0, 'index_col':0}
PTAX203_layout_df = read_pdf(PTAX203Layout, pages='all', lattice=True, pandas_options=pdf_to_csv_to_pandas)

ModuleNotFoundError: No module named 'tabula'

Continuing...
Filtered dataset for just Englewood

In [62]:
df[100]

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        1
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
278875    0
278876    0
278877    0
278878    0
278879    0
278880    0
278881    0
278882    0
278883    0
278884    0
278885    0
278886    0
278887    1
278888    0
278889    0
278890    0
278891    1
278892    1
278893    0
278894    0
278895    0
278896    0
278897    0
278898    0
278899    0
278900    0
278901    0
278902    0
278903    0
278904    0
Name: 100, Length: 278905, dtype: object

In [68]:
#df = df.rename(columns = {df.columns[93]:'zipcode', df.columns[72]:'tax_bill_zip', df.columns[71]:'tax_bill_state', df.columns[70]:'tax_bill_city',
                         #df.columns[69]:'tax_bill_address', df.columns[68]:'tax_bill_name'})

#manually typed in columns:
df.columns = ['county', 'recording_year', 'document_number', 'recording_month', 'recording_day',
'volume', 'page', 'tab_number', 'street_address', 'city', 'township', 'parcel_count',
'deed_year', 'deed_month', 'deed_type', 'other_deed_type', 'principal_residence',
'advertised', 'current_use_code', 'intended_use_code', 'current_units',
'intended_units', 'current_comm_use_dsc', 'intended_comm_use_dsc',
'current_other_use_dsc', 'intended_other_use_dsc', 'demolition_indicator',
'additions_indicator', 'remodel_indicator', 'new_construction_indicator',
'other_change_indicator', 'expl_other_change', 'change_month', 'change_year',
'full_contract_indicator', 'yr_contract_initiated', 'sale_btwn_relatives',
'sale_less_100', 'court_ordered_sale', 'foreclosure', 'condemnation', 'auction_sale',
'relocation_company', 'financial_inst', 'reit', 'pension_fund', 'adjacent_property',
'option_to_purchase', 'trade_of_property', 'sale_leaseback', 'other_items_indicator',
'expl_other_items', 'full_consideration', 'personal_property', 'mobile_home', 
'net_consideration', 'other_real_property', 'outstanding_mortgage', 'exempt_transfer',
'net_consideration_tax', 'line_18', 'il_tax', 'county_tax', 'total_tax', 'seller_name',
'seller_signature', 'buyer_name', 'buyer_signature', 'tax_bill_name', 'tax_bill_address',
'tax_bill_city', 'tax_bill_state', 'tax_bill_zip', 'tax_bill_zip4', 'preparer_name',
'preparer_file_num', 'preparer_address', 'preparer_city', 'preparer_zip', 'preparer_state',
'preparer_zip','preparer_zip4',
'ext_legal_attached', 'ptax_attached', 'personal_prop_attached', 'ccao_township',
'property_class', 'minor_property_class', 'land_assessment', 'building_assessment',
'total_assessment', 'year_prior', 'mobile_home_assessed', 'ccao_comments,' 'zipcode',
'homestead_exemption', 'homestead_amt', 'senior_homestead_amt', 'senior_homestead_freeze_amt',
'ptax_b', 'short_sale', 'bank_reo']

In [69]:
df[:2]

,county,recording_year,document_number,recording_month,recording_day,volume,page,tab_number,street_address,city,...,year_prior,mobile_home_assessed,"ccao_comments,zipcode",homestead_exemption,homestead_amt,senior_homestead_amt,senior_homestead_freeze_amt,ptax_b,short_sale,bank_reo
0,001,2016,201600002,01,04,,,21,518 SPRINGLAKE DRIVE,QUINCY,...,N,,62305,1,6000,0,0,0,0,0
1,001,2016,201600004,01,04,,,18,2019 N SHERIDAN DRIVE,QUINCY,...,N,,62305,1,6000,0,0,0,0,0

In [70]:
ENGLEWOOD1=60621
ENGLEWOOD2=60636
englewood_df = df[(df.zipcode == "60636") | (df.zipcode == "60621")]

AttributeError: 'DataFrame' object has no attribute 'zipcode'

In [71]:
pd.set_option('display.max_colwidth', -1)
englewood_df

,0,1,2,3,4,5,6,7,8,9,...,91,92,zipcode,94,95,96,97,98,99,100
12992,016,2016,1600410042,01,04,,,40053,7328 S MARSHFIELD AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
13024,016,2016,1600416058,01,04,,,40085,5948 S PAULINA ST,CHICAGO,...,N,,60636,0,,,,0,0,0
13025,016,2016,1600416059,01,04,,,40086,7353 S MORGAN ST,CHICAGO,...,N,,60621,0,,,,0,0,0
13026,016,2016,1600416060,01,04,,,40087,5934 S PAULINA ST,CHICAGO,...,N,,60636,0,,,,0,0,0
13090,016,2016,1600422050,01,04,,,40149,6743 S OAKLEY AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
13094,016,2016,1600422054,01,04,,,40153,7329 S CLAREMONT AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
13098,016,2016,1600422058,01,04,,,40157,29 W GARFIELD BLVD,CHICAGO,...,N,,60621,0,,,,0,0,0
13099,016,2016,1600422059,01,04,,,40158,6335 S NORMAL AVENUE,CHICAGO,...,N,,60621,0,,,,0,0,0
13247,016,2016,1600449403,01,04,,,40301,6558 S HERMITAGE AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
13255,016,2016,1600449471,01,04,,,40305,5631 S LOOMIS BLVD,CHICAGO,...,N,,60636,0,,,,0,0,0
13480,016,2016,1600522021,01,05,,,50136,5711 S HOYNE AVE,CHICAGO,...,N,,60636,0,,,,0,0,1
13504,016,2016,1600522110,01,05,,,50160,5916 S WOOD ST,CHICAGO,...,N,,60636,0,,,,0,0,0
13587,016,2016,1600545010,01,05,,,50239,6564 S YALE AVE,CHICAGO,...,N,,60621,0,,,,0,0,0
13805,016,2016,1600616086,01,06,,,60098,6630 S WOLCOTT AVE,CHICAGO,...,N,11CH009999,60636,0,,,,0,0,0
13813,016,2016,1600617019,01,06,,,60106,5629 S ASHLAND AVE,CHICAGO,...,N,07ch31824,60636,0,,,,0,0,0
13955,016,2016,1600639069,01,06,,,60246,7155 S PAULINA ST,CHICAGO,...,N,,60636,0,,,,0,0,0
13973,016,2016,1600644061,01,06,,,60264,5749 S SEELEY AVE,CHICAGO,...,N,11CH009999,60636,0,,,,0,0,0
14282,016,2016,1600719087,01,07,,,70129,1818-20 W 69TH ST,CHICAGO,...,N,,60636,0,,,,0,0,0
14312,016,2016,1600722048,01,07,,,70159,453 W 61ST ST,CHICAGO,...,N,,60621,0,,,,0,0,0
14539,016,2016,1600804182,01,08,,,80007,7401 S MAY ST # HSE,CHICAGO,...,N,,60621,0,,,,0,0,0
14561,016,2016,1600813119,01,08,,,80028,5621 S LAFLIN ST,CHICAGO,...,N,,60636,0,,,,0,0,0
14596,016,2016,1600816045,01,08,,,80063,5534 S THROOP ST,CHICAGO,...,N,,60636,0,,,,0,0,0
14779,016,2016,1600849062,01,08,,,80221,6314 S BELL,CHICAGO,...,N,,60636,0,,,,0,0,1
14782,016,2016,1600849083,01,08,,,80224,7226 S WOOD ST,CHICAGO,...,N,,60636,0,,,,0,0,1
14837,016,2016,1600855299,01,08,,,80276,7344 S YALE AVE,CHICAGO,...,N,,60621,0,,,,0,0,0
14995,016,2016,1601116046,01,11,,,110077,336 W MARQUETTE RD,CHICAGO,...,N,,60621,0,,,,0,0,0
15022,016,2016,1601119051,01,11,,,110104,6111 S GREEN ST,CHICAGO,...,N,,60621,0,,,,0,0,0
15063,016,2016,1601122006,01,11,,,110145,1509 W 59TH ST,CHICAGO,...,N,07ch11968,60636,0,,,,0,0,0
15082,016,2016,1601122070,01,11,,,110164,7249 S WOLCOTT AVE,CHICAGO,...,N,10CH007756,60636,0,,,,0,0,0
15097,016,2016,1601134004,01,11,,,110179,7441-7445 S PRINCETON AVE,CHICAGO,...,N,,60621,0,,,,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124292,016,2016,1635742052,12,22,,,3570352,6042 S THROOP ST,CHICAGO,...,N,06ch14777*,60636,0,,,,0,0,0
124323,016,2016,1635745081,12,22,,,3570383,5523 S THROOP ST # 1,CHICAGO,...,N,,60636,0,,,,0,0,0
124359,016,2016,1635749102,12,22,,,3570417,7245 SOUTH HONORE ST,CHICAGO,...,N,,60636,0,,,,0,0,0
124388,016,2016,1635801030,12,23,,,3580004,7330 S PEORIA ST,CHICAGO,...,N,11CH009999,60621,0,,,,0,0,0
124552,016,2016,1635828001,12,23,,,3580166,7139 S PEORIA ST,CHICAGO,...,N,,60621,0,,,,0,0,0
125080,016,2016,1636304012,12,28,,,3630003,7001 S WINCHESTER AVE,CHICAGO,...,N,,60636,0,,,,0,0,1
125189,016,2016,1636313035,12,28,,,3630112,1211 W 60TH ST,CHICAGO,...,N,,60636,0,,,,0,0,0
125205,016,2016,1636317101,12,28,,,3630128,6757 S LOOMIS BOULEVARD,CHICAGO,...,N,,60636,0,,,,0,0,0
125265,016,2016,1636319297,12,28,,,3630186,5925 S MARSHFIELD AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
125356,016,2016,1636334076,12,28,,,3630275,5805 S CARPENTER ST # 1,CHICAGO,...,N,,60621,0,,,,0,0,0
125403,016,2016,1636342059,12,28,,,3630322,6341 S CARPENTER ST,CHICAGO,...,N,,60621,0,,,,0,0,0
125580,016,2016,1636355047,12,28,,,3630494,7011 S EMERALD AVE,CHICAGO,...,N,,60621,0,,,,0,0,0
125658,016,2016,1636406132,12,29,,,3640038,2019 W 67TH PL,CHICAGO,...,N,,60636,0,,,,0,0,0
125816,016,2016,1636419286,12,29,,,3640194,100 W MARQUETTE RD,CHICAGO,...,N,,60621,0,,,,0,0,0
125838,016,2016,1636422100,12,29,,,3640216,6342 S ADA ST,CHICAGO,...,N,,60636,0,,,,0,0,0
125889,016,2016,1636434018,12,29,,,3640267,6506 S OAKLEY AVE,CHICAGO,...,N,12CH0025738,60636,0,,,,0,0,0
125890,016,2016,1636434019,12,29,,,3640268,6537 S HAMILTON AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
125904,016,2016,1636434090,12,29,,,3640282,6622 S SEELEY AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
125948,016,2016,1636441023,12,29,,,3640326,6506 S GREEN,CHICAGO,...,N,,60621,0,,,,0,0,0
125958,016,2016,1636441044,12,29,,,3640336,7351 S GREEN ST,CHICAGO,...,N,,60621,0,,,,0,0,0
126078,016,2016,1636449156,12,29,,,3640452,6217 S HOYNE AVE,CHICAGO,...,N,,60636,0,,,,0,0,0
126424,016,2016,1636534043,12,30,,,3650282,6516 S UNION AVE,CHICAGO,...,N,,60621,0,,,,0,0,1
126444,016,2016,1636539028,12,30,,,3650302,6549 S JUSTINE ST,CHICAGO,...,N,,60636,0,,,,0,0,0
126460,016,2016,1636544007,12,30,,,3650318,5653 S JUSTINE ST,CHICAGO,...,N,,60636,0,,,,0,0,0
126461,016,2016,1636544008,12,30,,,3650319,5653 S JUSTINE ST,CHICAGO,...,N,,60636,0,,,,0,0,0
126463,016,2016,1636544023,12,30,,,3650321,6757 S HALSTED ST,CHICAGO,...,N,,60621,0,,,,0,0,0
126528,016,2016,1636546097,12,30,,,3650385,6237 S MORGAN ST,CHICAGO,...,N,,60621,0,,,,0,0,0
126543,016,2016,1636547191,12,30,,,3650399,5748 S BISHOP ST,CHICAGO,...,N,,60636,0,,,,0,0,1
126556,016,2016,1636549113,12,30,,,3650412,7359 S. PEORIA STREET,CHICAGO,...,N,,60621,1,,,,0,0,1
126574,016,2016,1825810130,09,23,,,2580001,5603-5607 S THROOP ST,CHICAGO,...,N,,60636,0,,,,0,0,0

How many tax billiing zips are not in IL though? (308)
And who's selling them?

In [57]:
englewood_df[englewood_df.tax_bill_state != "IL"].shape
englewood_df[englewood_df.tax_bill_state != "IL"].tax_bill_state
englewood_df[englewood_df.tax_bill_state != "IL"].tax_bill_name
englewood_df[englewood_df.tax_bill_state != "IL"].tax_bill_city
#englewood_df[englewood_df.tax_bill_name == "NATIONSTAR MORTGAGE LLC"]

13587     COPPELL
13955     NAPA
14837     DUBLIN
15082     GRAND PRAIRIE
16966     NORFOLK
17295     COLUMBIA
17297     COLUMBIA
17908     LA MIRADA
18049     CHARLOTTE
18458     DALLAS
18461     DALLAS
18868     LAGUNA HILLS
18965     MURRAY
19279     NAPLES
19648     WEST PALM BEACH
19722     ADDISON
19774     COLUMBIA
19780     DES MOINES
20155     OKLAHOMA CITY
20166     DALLAS
20752     ANAHEIM
21279     DALLAS
21943     DALLAS
22231     BOSTON
22822     VIRGINIA BEACH
22845     COLUMBUS
23082     WEST PALM BEACH
23556     COPPELL
24098     MUNSTER
24161     FREMONT
                         ...
113725    CORAL GABLES
113878    BOYDS
113926    COPPELL
114538    ORINDA
115183    GARY
117031    SANTA ANA
117655    SAN DIEGO
117998    JOHNSON CITY
117999    JOHNSON CITY
118036    OKLAHOMA CITY
118288    DALLAS
118740    PLANO
118776    DALLAS
119289    NEW YORK
119290    NEW YORK
120140    GREENVILLE
120896    SHERMAN OAKS
121045    MINNEAPOLIS
121869    WEST COVINA
122340    TROY
122345    O FALLON
122418    MARYVILLE
122726    FARMERS BRANCH
123389    ANAHEIM
123392    FORT MILL
123471    DALLAS
123612    FORT MILL
124049    RICHARDSON
124359    BEAVERTON
125580    WHITE PLAINS
Name: tax_bill_city, Length: 308, dtype: object